@charset "UTF-8";
/* CSS Document */

form {  /* set width in form, not fieldset (still takes up more room w/ fieldset width */
	margin: 0;
	padding: 0;
	min-width: 500px;
	max-width: 600px;
	width: 560px;
	font-family: verdana, arial, sans-serif;
	font-size: 90%;
}

form fieldset {
  / * clear: both; note that this clear causes inputs to break to left in ie5.x mac, commented out */
  	border-color: #333333;
	padding: 10px;        /* padding in fieldset support spotty in IE */
	margin: 0;

}

form fieldset legend {
	font-size:1.1em; /* bump up legend font size, not too large or it'll overwrite border on left */
                       /* be careful with padding, it'll shift the nice offset on top of border  */
}

form label { 
	display: block;  /* block float the labels to left column, set a width */
	float: left; 
	width: 150px; 
	padding: 0; 
	margin: 5px 0 0; /* set top margin same as form input - textarea etc. elements */
	text-align: right; 
}


form input, form textarea {
	/* display: inline; inline display must not be set or will hide submit buttons in IE 5x mac */
	width:auto;      /* set width of form elements to auto-size, otherwise watch for wrap on resize */
	margin:5px 0 0 10px; /* set margin on left of form elements rather than right of
                              label aligns textarea better in IE */
}

form input#reset {
	margin-left:0px; /* set margin-left back to zero on reset button (set above) */
}

textarea { overflow: auto; }

form small {
	display: block;
	margin: 0 0 5px 160px; /* instructions/comments left margin set to align w/ right column inputs */
	padding: 1px 3px;
	font-size: 88%;
}
.style3 {
	font-weight: normal;
	text-indent: .5em;
}


form .required{font-weight:bold;} /* uses class instead of div, more efficient */

form xbr {
	clear:left; /* setting clear on inputs didn't work consistently, so brs added for degrade */
}
form label_2 {
	display: block;
	width: 150px;
	padding: 0; /* set top margin same as form input - textarea etc. elements */
	text-align: left;
	margin-top: 5px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}
.style6 {font-size: 100%}
.style5 {
	font-weight: normal;
	text-indent: 2.5em;
	text-align: left;
	width: 100%;
	font-size: 90%;
}
